Checks: >
    -*,
    bugprone-*,
    modernize-*,
    readability-*,
    -modernize-use-trailing-return-type,
    -readability-magic-numbers

HeaderFilterRegex: '(apps|tests|include)/.*'

WarningsAsErrors: ''
