Checks: >
    -*,
    bugprone-*,
    modernize-*,
    readability-*,
    -modernize-use-trailing-return-type,
    -readability-redundant-string-init

HeaderFilterRegex: 'src/.*'

WarningsAsErrors: ''
